version: '3.4'

services:
    smart.finances.dataaccess:
        image: ${DOCKER_REGISTRY-}smartfinancesdataaccess
        build:
            context: .
            dockerfile: src/Smart.Finances.DataAccess/Dockerfile

    sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        environment:
            ACCEPT_EULA: "Y"
            MSSQL_SA_PASSWORD: "password123!"
        ports:
            - "1433:1433"

    rabbitmq:
        image: rabbitmq:3-management
        hostname: rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        ports:
            - 5672:5672
            - 15672:15672